:root {
    --color-primary: #1746a2;
    --color-secondary: #ff731d;
    --color-accent: #ffffff;
    --color-background: #579df7;
    --color-text1: #ffffff;
    --color-text2: #072566;
    --color-border1: #ccc;
    --color-backForm1: #ffffffcc;
    --color-shadowForm1: #00000033;
}
